<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/website/index.html">Home</a></li>
            <li><a href="/website/_posts/publications.html">Publications</a></li>
            <li><a href="/website/_posts/talks.html">Talks</a></li>
            <li><a href="/website/_posts/faq.html">FAQ</a></li>
            <li><a href="/website/_posts/newsletter.html">Newsletter</a></li>
            <li><a href="/website/_posts/research.html">Research</a></li>
            <!-- <li><a href="/website/_posts/blog/main.html">Blog</a></li> -->
        </ul>
    </div>
</nav>

